body {
    overflow-x: hidden;
    font-size: 1.2rem;
}

.jumbotron {
    height: 60vh;
    background-image: url(./img/banners/zamio.jpg);
    background-size: cover;
    background-position-y: center;
}

.jumbotron h1 {
    text-shadow: 1px 1px 5px black;
}


.source {
    font-size: 0.9rem;
}
